a{
  color: #6495ed;
  text-decoration: none;
}
h2.season-heading{
  text-align: center;
}
table{
  border-collapse: collapse;
  margin:0 auto;
  width:85%;
}
thead{
  background-color: #6495ed;
  color: #fff;
}
td, th{
    border: 1px solid #000;
    padding:10px;
}
.episode-number{
  text-align: center;
  width:5%;
}
.episode-title{
  width:65%;
}
.episode-title, .episode-director{
  padding-left:20px;
}
.show-info{
  margin-left:30px;
}